node_modules/
.next/
out/
dist/
/lib/
coverage/
*.tsbuildinfo
.env
.env.local
.env.*.local
firebase-debug.log*
firestore-debug.log*
database-debug.log*
ui-debug.log*
pglite-debug.log*
.firebase/
test-results/
playwright-report/
apps/web/public/sw.js
apps/web/public/sw.js.map
apps/web/public/swe-worker-*.js
.DS_Store
.vercel
.env*
